.drawer
  .ivu-drawer
    width 700px!important
    @media screen and (max-width: 768px)
      width 100%!important
    .ivu-input-group-append
      padding: 4px 7px
      .ivu-btn
        border-radius 0
        overflow hidden
        &:last-child
          margin-left 6px
      .ivu-btn-primary
        background-color #2d8cf0 
        color #fff
        border-color #2d8cf0
      .ivu-btn-text
        background-color transparent
        color #515a6e
        border-color transparent